
.center h1 {
  font-family: Balto;
  font-size: 4em;
  margin: 0;
}
 
.name {
  font-family: Harriet,serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 500;
  line-height: 1em;
  margin-left: 0.05em !important;
  margin-right: .2em;
  padding: 0 .3em;
}
 
.question .name {
  background-color: #e1e2e4 !important;
}
 
// quote teaser for next interview
.feature-body hr {
  margin: 4em auto 4em auto;
}
 
.quote-banner {
  text-align: right;
  width: 87%;
  margin: 0 auto;
  padding: 0.3em 0em 0.3em 0em;
  margin-bottom: 60px;
  a {
    padding: 0 1em 0 0;
    color: $dark-gray !important;
  }
}
 
.quote-preview {
  text-transform: uppercase;
  font-size: 2em;
  font-style: italic;
  line-height: 1.2em;
  padding: 0px 50px 0px 50px;
  p {
    margin-bottom: 0.2em;
  }
  div {
    font-size: 0.6em;
    font-style: normal;
    text-align: right;
    padding-right: 30px;
    height: 1.8em;
  }
}
 
// interview toggles
.chorus-snippet p toggles {
  max-width: 100%;
  border: 0;
  a {
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    display: block;
    float: left;
    padding: 15px 0;
    width: 23% !important;
    margin: 0.4em !important;
 
 